@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --et-red: #ED1921;
  --et-grey-dark: #333333;
  --et-grey-medium: #666666;
  --et-grey-light: #EEEEEE;
  --et-border: #E0E0E0;
  --sensex-green: #00A300;
  --sensex-red: #FF0000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-et-red: #ed1924;
  --color-et-grey-dark: #333333;
  --color-et-grey-medium: #666666;
  --color-et-grey-light: #f6f6f6;
  --color-et-border: #e1e1e1;
  --color-sensex-green: #008e36;
  --color-sensex-red: #e31e24;
  --font-serif: var(--font-faustina), serif;
  --font-sans: var(--font-montserrat), sans-serif;

  --animate-ticker: ticker 40s linear infinite;

  @keyframes ticker {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
.font-serif {
  font-family: var(--font-faustina), serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}